.AsideMenu {
    background: #191d22;
    color: #a7a7a7;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    border: 2px solid white;
}

.AsideMenu::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.AsideMenu {
    width: 200px;
}

.AsideMenu img {
    width: auto;
    height: auto;
}

.textPart:hover {
    color: #f9f9f9;
}

.bottom {
    float: bottom;
}