.RecipesTable .dataTable tr:hover {
    background: #0b0c11;
}

.RecipesTable .dataTable td {
    cursor: auto;
}

.RecipesTable .dataTable td:nth-child(even) {
    cursor: pointer;
}

.RecipesTable .dataTable td:nth-child(even):hover {
    background: #191d22;
}