.Recipe h1 {
    margin: 0 0 10px;
    text-align: center;
    cursor:pointer;
    text-decoration:underline;
}

.Recipe h1:hover {
    text-decoration:none;
    text-shadow: 1px 1px 1px #555;
}

.Recipe {
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    position: relative;
    top: 10px;
    left: 210px;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.Recipe p {
    padding: 0 0 0 10px;
}

.Recipe::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.fullScreen {
    left: 0;
}

.pageContentNotFullScreen {
    margin-right: 210px;
}

.Recipe img {
    float: right;
    margin-right: 20px;
    width: 200px;
    height: 250px;
}

.Recipe button {
    background: #5e6873;
    color: #c4c4c4;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 10px;
}

.Recipe button:hover {
    background: #90a1ac;
    color: #ffffff;
    cursor: pointer;
}