h1 {
    margin: 0 0 10px;
    text-align: center;
}

.Welcome {
    height: 100vh;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    position: relative;
    top: 10px;
    left: 210px;

    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.Welcome::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.fullScreen {
    left: 0;
}