.dataTable img {
    width: 50px;
    height: 50px;
    transform-origin: 0 0;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}

.dataTable {
    border-collapse: collapse;
    margin-left: 50px;
}

.dataTable th {
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
}

.dataTable td {
    height: 50px;
    border: 2px solid white;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.dataTable tr:hover {
    background: #191d22;
}

.dataTable img:hover {
    transform: scale(5);
}