.MenuNode img {
    float: left;
}

.MenuNode {
    height: 50px;
    width: 200px;
    background: #191d22;
    text-align: center;
    border: 1px solid #c4c4c4;
}

.nodeText {
    height: 50px;
}

.listPart {
    position: relative;
    display: none;
}

.MenuNode:hover .listPart {
    display: inline;
}

.MenuNode span.triangle {
    display: inline-block;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.MenuNode:hover span.triangle {

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.MenuNode a {
    text-decoration: none;
    color: #a7a7a7;
}

.MenuNode a:hover {
    color: #f9f9f9;
}