.LoginForm {
    transform-origin: 0 0;
    transform: scale(0);
    border: 2px solid #333740;
    background: #282c34;
    padding: 10px 10px 10px 10px;
    position: absolute;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}

.textPart {
    cursor: pointer;
}

.LoginNode {
    height: 50px;
    text-align: center;
    border: 1px solid #c4c4c4;
}

.LoginForm button {
    background: #5e6873;
    color: #c4c4c4;
    width: 100%;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.LoginForm button:hover {
    background: #90a1ac;
    color: #ffffff;
}

.buttonDiv {
    align-content: center;
}

.clicked {
    transform: scale(1);
    top: 250px;
}

img {
    float: left;
}