.LoginForm {
    display: none;
    border: 2px solid #333740;
    background: #282c34;
    padding: 10px 10px 10px 10px;
}

.textPart {
    cursor: pointer;
}

.LoginForm button {
    background: #5e6873;
    color: #c4c4c4;
    width: 100%;
    margin: 10px 0 0 0;
    cursor: pointer;
}

.LoginForm button:hover {
    background: #90a1ac;
    color: #ffffff;
}

.buttonDiv {
    align-content: center;
}

@media only screen and (min-width: 800px) {
    .clicked {
        position: absolute;
        display: block;
        left: 100%;
        top: 200px;
    }
}

@media only screen and (max-width: 800px) {
    .clicked {
        position: absolute;
        display: block;
    }
}

img {
    float: left;
}